@font-face {
  font-family: "afacad";
  src: url("../assets/fonts/Afacad-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "afacad";
  src: url("../assets/fonts/Afacad-bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "pretendard";
  src: url("../assets/fonts/Pretendard-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "pretendard";
  src: url("../assets/fonts/Pretendard-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "pretendard";
  src: url("../assets/fonts/Pretendard-Light.otf");
  font-weight: 300;
}
